@import url('https://api.fonts.coollabs.io/css2?family=Bebas+Neue&display=swap');

@import url('https://api.fonts.coollabs.io/css2?family=Bungee&display=swap');

@import url('https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap');

@import url(https://api.fonts.coollabs.io/css2?family=Wire+One);

@import url('https://api.fonts.coollabs.io/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(240,27.6%,12%);
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
/*  font-family: 'Candara';*/
  font-size: 3rem;
  font-size: calc(3vw + 1rem);
  color: #b26422;
  text-align: center;
}

h4 {
  font-family: 'Candara';
  font-size: 3rem;
  font-size: calc(.75vw + 1rem);
  color: #b26422;
  text-align: center;  
}

a {
  text-decoration: none;
  color: #b16322;
}

.main__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: .5em 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
/*  margin-bottom: 1.5em;*/
  background: url('https://ik.imagekit.io/ghow2otb3rc/rebirthofthegriot/c0v-members/tumblr-b8c5fe832c6001adf4361759c04160e6-12e4607c-1280_BVCmbaZPgJ.jpg') center -20px / cover no-repeat;
}

.main__header > * {
  transform: translate(0);
  position: relative;
  z-index: 1;
}

.main__header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70);
}
  
.title {
  margin: 0 0 0;
  font-weight: 900;
  line-height: 1.6;
}

img:nth-of-type(1) {
  display: block;
  height: 60px;
  width: 60px;
  margin-bottom: 1.5rem;
}

.theme__text {
  color: #c0c0c0;
  font-family: 'Open Sans';
}

.theme__title {
  font-family: 'Bebas Neue';
  font-size: calc(1vw + 1rem);
  color: #b26422;  
  margin-top: -15px;
  margin-bottom: 10px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.theme__text p {
  font-size: .7em;
  margin-bottom: 20px;
}

.main__header p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: .75em;
  color: #c0c0c0;
  margin: 0 0 1rem;
  text-align: center;
}

.main__header .rbg_event__meta {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid white; */
  font-family: 'Candara', sans-serif;
  color: #b9661f;
  margin-bottom: .5em;
}

.main__header .rbg_event__meta > h2 {
  /* color: blue; */
  font-family: 'Candara', sans-serif;
  font-size: 1.5em;
  font-size: calc(1vw + .75rem);
  text-transform: uppercase;
  margin-bottom: .3em;
}

.main__header .rbg_event__meta > h3 {
  /* color: blue; */
  font-family: 'Candara', sans-serif;
  font-size: 1.5em;
  font-size: calc(1vw + .45rem);
  text-transform: uppercase;
  margin-bottom: .3em;
}

.container {
  max-width: 600px;
  width: calc(100vw - 3rem);
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

.artist_display__card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
/*   border: 1px solid #c0c0c0; */
}

.artist_img_wrapper, .artist_bio_wrapper {
  position: relative;
/*   width: 50%   */
  flex: 1 1 50%;

}

.artist_img_wrapper {
  position: relative;
/*   border: 1px solid #c0c0c0;
  border-bottom-left-radius: 5px; */
}

.artist_img_wrapper::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(0deg,#191c21 0,rgba(0,0,0,.8) 10%,rgba(25,28,33,0) 60%) 50% no-repeat;
}

.artist_img_wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.artist_img_title {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  justify-content: start;
  bottom: 10%;
/*  bottom: 0;*/
  left: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: .79;
  font-weight: 300;
  color: #c0c0c0;
  z-index: 2;
/*   translate: calc(50% - 8px) 0; */
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
/*   border: 1px solid white; */
}

img {
  max-width: 100%;
  height: auto;
}

.artist_img_title h3 {
  font-family: 'Bungee';
  font-size: .95em;
  line-height: 1;
  position: relative;
  grid-column: 1 / 5;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  width: fit-content;
/*   align-content: center;
  border: 1px solid white; */
/*   margin-right: 12px; */
}

.artist_img_title h3::before {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 15px;
  background-color: #b26422;
  top: -2px;
  left: calc(25% + 2px);
  left: 0;
}

.artist_img_title h3::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 15px;
  background-color: #b26422;
  bottom: 0;
  right: calc(25% + 2px);
  right: 0;
}

.artist_img_title p {
/*   padding-left: .5em; */
  grid-column: 6 / -1;
/*   justify-self: start; */
  font-size: .7em;
  color: #b26422;
  padding-top: 1px;
  transform: translate(0, -20%);
}

.container > .artist_display__card:nth-of-type(2) p {
  transform: translate(0, -65%);
/*  border: 1px solid #c0c0c0;*/
}

.container > .artist_display__card:nth-of-type(9) .artist_img_wrapper .artist_img_title > p {
  transform: translate(50px, -125%);
/*  border: 1px solid #c0c0c0;*/
}

.artist_img_wrapper::after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
/*   background-color: rgba(0, 0 ,0, 0.5); */
/*   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent); */
/*     background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.8) 100%
  ); */
}

.artist_bio_wrapper {
  position: relative;
  padding: 4em 1em;
  width: 94%;
  margin: 0 auto;
  margin-top: -40px;  
  font-family: 'Montserrat', sans-serif;
/*   font-family: 'Open Sans', sans-serif; */
  font-size: .85em;
  font-weight: 700;
/*   background-color: #000; */
  background-image: linear-gradient(to bottom, rgba(34, 34, 61, 0.85), rgba(0, 0, 0, 0.9)),
    url('https://ik.imagekit.io/ghow2otb3rc/etc-assets-c0vmembers/tumblr_195698382fa906229ede8cec533791a4_7677d440_1280_kkz-ER4Vt.jpg');
  background-position: center center;
  background-size: 300%;
  background-repeat: no-repeat;
  color: #c0c0c0;
/*   filter: blur(4px); */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.2);
  z-index: 10;
/*   border: 1px solid white; */
}

.artist_bio_wrappar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.artist_bio_wrapper p {
  margin-bottom: 1em;
}

.artist_bio_wrapper > .rbg_logo__wrapper {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 5px;
  height: 25px;
  width: 25px;
}

.wrapper > .rbg_logo-lrg__wrapper {
/*   position: absolute; */
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: .5em 1.75em 2em 2em;
}

.artist_bio_wrapper .rbg_logo__wrapper img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.wrapper .rbg_logo-lrg__wrapper img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.artist_bio_wrapper .artist_neon__meta {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5em;
}

.artist_meta__text p {
  text-transfrom:uppercase;
  color: #dd8e4c;
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
  font-family: 'Wire One';
  font-size: 1.75em;
  opacity: .2;
  transform: translate(60%, -11px);
/*   textalign:center; */
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
  color: white;
  text-shadow: 0 0 10px #87ceeb, 0 0 15px #87ceeb, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 40px deepskyblue, 0 0 50px deepskyblue, 0 0 60px deepskyblue, 0 0 70px deepskyblue, 0 0 80px deepskyblue, 0 0 90px deepskyblue, 0 0 100px skyblue;  
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(255,255,255,.8),
                 0 0 22px  rgba(255,255,255,.8),
                 0 0 40px  rgba(66,220,219,.8),
                 0 0 60px  rgba(66,220,219,.8),
                 0 0 80px  rgba(66,220,219,.5),
                 0 0 100px rgba(66,220,219,.5),
                 0 0 140px rgba(66,220,219,.5),
                 0 0 200px rgba(66,220,219,.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(66,220,219,.8),
                 0 0 30px rgba(66,220,219,.8),
                 0 0 40px rgba(66,220,219,.8),
                 0 0 50px rgba(66,220,219,.5),
                 0 0 80px rgba(66,220,219,.5);
  }  
}

@media (min-width: 468px) {
  .artist_display__card {
    flex-direction: row;
  }
  .artist_img_title h3 {
    line-height: 1;
    font-size: 1.17em;
    font-size: .85em;   
  }
  .artist_img_title p {
    transform: translate(0, -40%);
  }
  .container > .artist_display__card:nth-of-type(2) .artist_img_title p:nth-child(2) {
    transform: translate(0, -144%);
  /*  border: 1px solid #c0c0c0;*/
  }
  .container > .artist_display__card:nth-of-type(9) .artist_img_title p:nth-child(2) {
    transform: translate(50px, -144%);
  /*  border: 1px solid #c0c0c0;*/
  }
  
  .artist_bio_wrapper {
    width: 100%;
    margin: 0;
    padding: 4em 2em;
  }
    
  .main__header .rbg_event__meta {
    margin-bottom: .75em;
  }

}
